body
{
overflow-x:hidden;
width:100%;
font: 15px "Century Gothic", "Times Roman", sans-serif;
background:#eee;
min-height:550px;
background-attachment:fixed;
}
.bg
{
min-height:540px;
}
.bg1
{
background:url(../image/nsu2.jpg);
min-height:535px;
}
@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
	}

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
	}

.panel{
border-color:#eee;
margin:40px;
padding:20px;
font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title
{
font-family:'typo';
}
.header
{
background:#000080;
height:70px;
}
.logo
{
font-family:'typo';
font-size:35px;
color:#ffbb33;
margin:15px;
}
